In [1]:
# !pip install category_encoders

In [2]:
import pickle
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn import set_config
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import FunctionTransformer
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv("HW.csv")

In [5]:
df

,Tipster,Date,Track,Horse,Bet Type,Odds,Result,TipsterActive
0,Tipster A,24-07-2015,Ascot,Fredricka,Win,8.00,Lose,True
1,Tipster A,24-07-2015,Thirsk,Spend A Penny,Win,4.50,Lose,True
2,Tipster A,24-07-2015,York,Straightothepoint,Win,7.00,Lose,True
3,Tipster A,24-07-2015,Newmarket,Miss Inga Sock,Win,5.00,Lose,True
4,Tipster A,25-07-2015,Ascot,Peril,Win,4.33,Win,True
...,...,...,...,...,...,...,...,...
38243,Tipster E1,02-04-2016,Kempton,Solar Flair,Win,7.00,Lose,False
38244,Tipster E1,02-04-2016,Doncaster,Express Himself,Each Way,12.00,Lose,False
38245,Tipster E1,02-04-2016,Doncaster,Jack Dexter,Win,7.00,Lose,False
38246,Tipster E1,02-04-2016,Kelso,Just Cameron,Win,4.33,Lose,False
38247,Tipster E1,31-05-2016,Redcar,Dream Farr,Win,5.00,Lose,False

In [6]:
df.shape

(38248, 8)

In [7]:
## Checking for the missing values
df.isna().sum()

Tipster          0
Date             0
Track            0
Horse            0
Bet Type         0
Odds             0
Result           0
TipsterActive    0
dtype: int64

In [8]:
df["Horse"].unique()

array(['Fredricka', 'Spend A Penny', 'Straightothepoint', ...,
       'Connetable', 'Allchilledout', 'Dream Farr'], dtype=object)

In [9]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [10]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

In [11]:
df.head()

,Tipster,Date,Track,Horse,Bet Type,Odds,Result,TipsterActive,Year,Month,Day
0,Tipster A,2015-07-24,Ascot,Fredricka,Win,8.00,Lose,True,2015,7,24
1,Tipster A,2015-07-24,Thirsk,Spend A Penny,Win,4.50,Lose,True,2015,7,24
2,Tipster A,2015-07-24,York,Straightothepoint,Win,7.00,Lose,True,2015,7,24
3,Tipster A,2015-07-24,Newmarket,Miss Inga Sock,Win,5.00,Lose,True,2015,7,24
4,Tipster A,2015-07-25,Ascot,Peril,Win,4.33,Win,True,2015,7,25

In [12]:
## Dropping the date column
df = df.drop("Date", axis = 1)

In [13]:
df

,Tipster,Track,Horse,Bet Type,Odds,Result,TipsterActive,Year,Month,Day
0,Tipster A,Ascot,Fredricka,Win,8.00,Lose,True,2015,7,24
1,Tipster A,Thirsk,Spend A Penny,Win,4.50,Lose,True,2015,7,24
2,Tipster A,York,Straightothepoint,Win,7.00,Lose,True,2015,7,24
3,Tipster A,Newmarket,Miss Inga Sock,Win,5.00,Lose,True,2015,7,24
4,Tipster A,Ascot,Peril,Win,4.33,Win,True,2015,7,25
...,...,...,...,...,...,...,...,...,...,...
38243,Tipster E1,Kempton,Solar Flair,Win,7.00,Lose,False,2016,4,2
38244,Tipster E1,Doncaster,Express Himself,Each Way,12.00,Lose,False,2016,4,2
38245,Tipster E1,Doncaster,Jack Dexter,Win,7.00,Lose,False,2016,4,2
38246,Tipster E1,Kelso,Just Cameron,Win,4.33,Lose,False,2016,4,2
38247,Tipster E1,Redcar,Dream Farr,Win,5.00,Lose,False,2016,5,31

In [14]:
## Spliting data
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Result']),df['Result'],test_size=0.2,random_state=42)

In [15]:
X_train

,Tipster,Track,Horse,Bet Type,Odds,TipsterActive,Year,Month,Day
4812,Tipster E,Yarmouth,Reaffirmed,Win,5.0,True,2014,6,26
34052,Tipster B1,Ascot,Polarisation,Win,9.0,False,2015,9,5
23400,Tipster X,Taunton,Elsafeer,Win,7.0,True,2013,11,28
21464,Tipster T,Newmarket,Riflescope,Win,26.0,True,2016,7,7
18200,Tipster R,Uttoxeter,Catching On,Win,5.0,True,2015,3,14
...,...,...,...,...,...,...,...,...,...
6265,Tipster E,Chepstow,Lac Sacre,Win,5.5,True,2015,5,19
11284,Tipster J,Shatin,Nuovo Record,Win,13.0,True,2016,4,24
38158,Tipster E1,SouthWell,Alco Sivola,Win,6.0,False,2015,10,22
860,Tipster A,Newmarket,Dougan,Win,7.5,True,2016,5,1
15795,Tipster O,Kempton,Secret Art,Win,21.0,True,2016,9,3

In [16]:
## Checking for the unique values
df["Bet Type"].unique()

array(['Win', 'Each Way', 'win'], dtype=object)

In [17]:
## Replacing "win" to "Win"
df["Bet Type"] = df["Bet Type"].replace("win", "Win")

In [18]:
## Checking the result, if replaced or not
df["Bet Type"].unique()

array(['Win', 'Each Way'], dtype=object)

In [19]:
## Unique values for all the columns

In [20]:
df["Tipster"].unique()

array(['Tipster A', 'Tipster B', 'Tipster C', 'Tipster D', 'Tipster E',
       'Tipster F', 'Tipster G', 'Tipster H', 'Tipster I', 'Tipster J',
       'Tipster K', 'Tipster L', 'Tipster M', 'Tipster N', 'Tipster O',
       'Tipster P', 'Tipster Q', 'Tipster R', 'Tipster S', 'Tipster T',
       'Tipster U', 'Tipster V', 'Tipster W', 'Tipster X', 'Tipster Y',
       'Tipster Z', 'Tipster A1', 'Tipster B1', 'Tipster C1',
       'Tipster D1', 'Tipster E1'], dtype=object)

In [21]:
df["Track"].unique()

array(['Ascot', 'Thirsk', 'York', 'Newmarket', 'Newcastle', 'Lingfield',
       'Carlisle', 'Pontefract', 'Uttoxeter', 'Hamilton', 'Chepstow',
       'Salisbury', 'Catterick', 'Chelmsford', 'Brighton',
       'Wolverhampton', 'Newbury', 'Market Rasen', 'Tramore', 'Leicester',
       'Ffos Las', 'Worcester', 'Sandown', 'Deauville', 'Curragh',
       'Stratford', 'Goodwood', 'Beverley', 'Doncaster', 'Chester',
       'Leopardstown', 'Bath', 'Yarmouth', 'Ayr', 'Kempton', 'Haydock',
       'Nottingham', 'Dundalk', 'Sedgefield', 'Huntingdon', 'Wetherby',
       'Wincanton', 'Fakenham', 'Cork', 'Naas', 'Windsor', 'Exeter',
       'Galway', 'Navan', 'Ludlow', 'Cheltenham', 'Aintree', 'Listowel',
       'Limerick', 'Plumpton', 'Warwick', 'Thurles', 'Towcester',
       'Musselburgh', 'Hexham', 'Taunton', 'Punchestown', 'Fontwell',
       'SouthWell', 'Fairyhouse', 'Bangor', 'Tipperary', 'Longchamp',
       'Meydan', 'Gowran Park', 'Cartmel', 'Down Royal', 'Kelso',
       'Downpatrick', 'Ripon', 'Epsom', 'Perth', 'Sligo', 'Ballinrobe',
       'Clonmel', 'Auteuil', 'Kilbeggan', 'Newton Abbot', 'Roscommon',
       'Dundee', 'Killarney', 'Southwell', 'Bellewstown', 'Redcar',
       'Arlington Park', 'Keeneland', 'Wexford', 'Santa Anita',
       'Flemington', 'Layton', 'Chantilly', 'Cologne', 'Shatin',
       'Churchill Downs', 'Pimlico', 'Dresden', 'Saratoga', 'chelmsford',
       'Thurlow', 'Turffontein', 'Wahash', 'Grand Canyon', 'Frenchman',
       'Home Cummins', 'Moonee Valley', 'Tokyo', 'Dusseldorf', 'Kilarney',
       'Gowran park', 'Gulfsteam Park', 'Belmont Park'], dtype=object)

In [22]:
df["TipsterActive"].unique()

array([ True, False])

## Trial

In [23]:
df

,Tipster,Track,Horse,Bet Type,Odds,Result,TipsterActive,Year,Month,Day
0,Tipster A,Ascot,Fredricka,Win,8.00,Lose,True,2015,7,24
1,Tipster A,Thirsk,Spend A Penny,Win,4.50,Lose,True,2015,7,24
2,Tipster A,York,Straightothepoint,Win,7.00,Lose,True,2015,7,24
3,Tipster A,Newmarket,Miss Inga Sock,Win,5.00,Lose,True,2015,7,24
4,Tipster A,Ascot,Peril,Win,4.33,Win,True,2015,7,25
...,...,...,...,...,...,...,...,...,...,...
38243,Tipster E1,Kempton,Solar Flair,Win,7.00,Lose,False,2016,4,2
38244,Tipster E1,Doncaster,Express Himself,Each Way,12.00,Lose,False,2016,4,2
38245,Tipster E1,Doncaster,Jack Dexter,Win,7.00,Lose,False,2016,4,2
38246,Tipster E1,Kelso,Just Cameron,Win,4.33,Lose,False,2016,4,2
38247,Tipster E1,Redcar,Dream Farr,Win,5.00,Lose,False,2016,5,31

##### enc_Horse = (df.groupby('Track').size())/len(df)
##### enc_Horse
##### df['Track_encode']= df['Track'].apply(lambda x : enc_Horse[x])

##### enc_Horse = (df.groupby('Tipster').size())/len(df)
##### enc_Horse
##### df['Tipster_encode']= df['Tipster'].apply(lambda x : enc_Horse[x])

In [24]:
## Pipeline Preparation..

In [25]:
## Defining a function to perform frequency Encoding and then using it in Column transformer

def encode_column(column):
    series_column = column.squeeze()  
    enc_column = series_column.map(series_column.value_counts() / len(series_column))
    return enc_column.to_frame()

In [26]:
## Using Column Transformer for encoding on the the columns.

In [27]:
trf1 = ColumnTransformer(
    transformers=[
        ('Horse_encode', FunctionTransformer(encode_column, validate=False), ['Horse']),
        ('Track_encode', FunctionTransformer(encode_column, validate=False), ['Track']),
        ('Tipster_encode', FunctionTransformer(encode_column, validate=False), ['Tipster']),
        ('ohe_TipsterActive', OneHotEncoder(handle_unknown='ignore'), [3, 6]),
        
    ],
    remainder='passthrough')

In [28]:
label_encoder = preprocessing.LabelEncoder()
y_trans = label_encoder.fit_transform(y_train)

In [29]:
df

,Tipster,Track,Horse,Bet Type,Odds,Result,TipsterActive,Year,Month,Day
0,Tipster A,Ascot,Fredricka,Win,8.00,Lose,True,2015,7,24
1,Tipster A,Thirsk,Spend A Penny,Win,4.50,Lose,True,2015,7,24
2,Tipster A,York,Straightothepoint,Win,7.00,Lose,True,2015,7,24
3,Tipster A,Newmarket,Miss Inga Sock,Win,5.00,Lose,True,2015,7,24
4,Tipster A,Ascot,Peril,Win,4.33,Win,True,2015,7,25
...,...,...,...,...,...,...,...,...,...,...
38243,Tipster E1,Kempton,Solar Flair,Win,7.00,Lose,False,2016,4,2
38244,Tipster E1,Doncaster,Express Himself,Each Way,12.00,Lose,False,2016,4,2
38245,Tipster E1,Doncaster,Jack Dexter,Win,7.00,Lose,False,2016,4,2
38246,Tipster E1,Kelso,Just Cameron,Win,4.33,Lose,False,2016,4,2
38247,Tipster E1,Redcar,Dream Farr,Win,5.00,Lose,False,2016,5,31

In [30]:
trf2 = ColumnTransformer([
    ('scale',StandardScaler(),slice(0,11))
])

In [31]:
from sklearn.svm import SVC
clf = SVC()

In [32]:
## Pipeline

In [33]:
pipe = Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    ('clf',clf)
])

In [34]:
# train
pipe.fit(X_train,y_train)

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('Horse_encode',
                                                  FunctionTransformer(func=<function encode_column at 0x7fa013ace8b0>),
                                                  ['Horse']),
                                                 ('Track_encode',
                                                  FunctionTransformer(func=<function encode_column at 0x7fa013ace8b0>),
                                                  ['Track']),
                                                 ('Tipster_encode',
                                                  FunctionTransformer(func=<function encode_column at 0x7fa013ace8b0>),
                                                  ['Tipster']),
                                                 ('ohe_TipsterActive',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  [3, 6])])),
                ('trf2',
                 ColumnTransformer(transformers=[('scale', StandardScaler(),
                                                  slice(0, 11, None))])),
                ('clf', SVC())])

In [35]:
from sklearn import set_config
set_config(display='diagram')

In [36]:
# Predict, testing Accuracy
y_pred = pipe.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.801045751633987

In [38]:
# Predict for training accuracy
y_pred1 = pipe.predict(X_train)

In [39]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train,y_pred1)

0.7986469703902216

## Cross Validation

In [ ]:
# cross validation using cross_val_score
from sklearn.model_selection import cross_val_score
cross_val_score(pipe, X_train, y_train, cv=5, scoring='accuracy')

In [ ]:
# cross validation using cross_val_score
from sklearn.model_selection import cross_val_score
cross_val_score(pipe, X_train, y_train, cv=5, scoring='accuracy').mean()

## Grid Search CV

In [42]:
# gridsearchcv
param_grid = {
    "clf__kernel": ['linear', 'poly', 'rbf', 'sigmoid'],
    "clf__C": [0.001, 0.01, 0.1, 1, 10, 100],
    "clf__gamma": [1, 0.1, 0.01, 0.001, 0.0001],
}

In [ ]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(pipe, param_grid, cv=5, scoring='accuracy')
grid.fit(X_train, y_train)

In [ ]:
grid.best_score_

In [ ]:
grid.best_params_

## Pickel File

In [ ]:
# export 
import pickle
pickle.dump(pipe,open('logis_reg.pkl','wb'))

In [ ]:
lr_pipe = pickle.load(open('logis_reg.pkl','rb'))

In [ ]:
X_train

In [ ]:
# Assume user input
test_data = np.array([['Tipster E1', 'Thirsk', 'Solar Flair', 'Win', 8.0, True, 2016, 4, 2]],dtype=object).reshape(1,9)

In [ ]:
# test_df = pd.DataFrame(test_data, columns=X_train.columns)

In [ ]:
lr_pipe.predict(test_data)